body {
    font-family: 'Oswald', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

section {
    display: flex;
    padding-top: 30px;
    margin-bottom: 130px;
}

.half-width {
    width: 50%;
    padding-left: 7%;
}

.half-width img {
    width: 75%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(red, blueviolet);
    padding: 12px 45px;
    border-radius: 10px;
    color: lavenderblush;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

p {
    text-align: justify;
}

.RL {
    padding-right: 40px;
}